@use 'src/global' as *;

.root {
  display: flex;
  border-radius: 8px;
  height: fit-content;
  //padding: 5% 3%;
  //gap: 30px;
  @include small() {
    flex-direction: column;
  }
}
.rootText {
  height: 180px;
  color: var(--secondary-gray);
  font-size: 24px;
  margin: 0 auto;
}
