.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 1%;
  width: 170px;
  font-size: 16px;
  border: 1px solid var(--white);
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(181, 181, 181, 0.6);
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  z-index: 1;
  transition: all ease-in-out 200ms;
  opacity: 1;
  &_hidden {
    //display: none;
    visibility: hidden;
    opacity: 0;
  }
}
.name {
  font-size: 18px;
  color: var(--black);
}

.settingsLink {
  color: var(--gray);
  &_line {
    width: 100%;
  }
}

.logoutBtn {
  width: 100%;
  font-size: 16px;
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--general-red);
}
