.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.headerLogo {
  max-height: 35px;
}

.headerInputWrap {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 0 8px;
  flex-basis: 50%;
  border-radius: 8px;
  border: solid 2px var(--general-red);
  &_active {
    border: solid 2px var(--secondary-gray);
  }
}

.headerDropDown {
  width: 16px;
  aspect-ratio: 8/5;
}

.headerAccount {
  width: 36px;
  aspect-ratio: 1/1;
  fill: var(--gray);
}
