@use 'src/global' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
  gap: 20px;
  @include medium() {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include small() {
    flex-direction: column;
  }
}

.headerLogo {
  max-height: 35px;
  flex: 0 0 250px;
  > svg {
    max-width: 172px;
  }
  @include medium() {
    flex: 0 0 172px;
  }
}

.headerInputWrap {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 0 8px;
  flex-basis: 50%;
  border-radius: 8px;
  border: solid 2px var(--general-red);
  &_active {
    border: solid 2px var(--secondary-gray);
  }
  @include small() {
    display: none;
  }
}
.headerInputSvg {
  width: 18px;
  aspect-ratio: 1/1;
}

.headerInput {
  border: none;
  flex-shrink: 1;
}

.headerDropDown {
  width: 16px;
  aspect-ratio: 8/5;
}

.headerAccount {
  width: 36px;
  aspect-ratio: 1/1;
  fill: var(--gray);
}
