@use 'src/global' as *;

.mainSection {
  background-color: var(--secondary-blue);
  box-shadow: -2px 4px 4px 0px rgba(97, 97, 97, 0.5);
}

.mainLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  flex-basis: 30%;
  margin: 10% 5%;
  @include small() {
    align-items: center;
  }
}

.mainTitle {
  font-size: 38px;
  font-weight: 800;
}

.mainText {
  font-size: 28px;
  font-weight: 700;
}

.mainButton {
  width: 60%;
  height: 48px;
  border: 1px solid var(--general-red);
  background-color: var(--general-red);
  color: var(--white);
  font-size: 24px;
}

.mainRight {
  display: flex;
  flex-basis: 70%;
  justify-content: center;
  @include small() {
    display: none;
  }
}

.mainImg {
  width: 90%;
}
