.allBooksPageWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3%;
  gap: 28px;
}

.allBooksPageTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 2%;
}
.allBooksPageBtn {
  align-self: center;
  //margin: 5% 50%;
  background-color: var(--general-red);
  border: 1px solid var(--general-red);
  width: 185px;
  height: 48px;
  color: var(--white);
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
